@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(fonts/Montserrat-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
  }
}

.mango{
  @apply bg-mango-base hover:bg-mango-light focus:bg-mango-light
  shadow-[0_4px_#CC8B13]
}
.turquoise{
  @apply bg-turquoise-base hover:bg-turquoise-light focus:bg-turquoise-light shadow-[0_4px_#118C87]
}
.gray{
  @apply bg-gray-base hover:bg-gray-light focus:bg-gray-light shadow-[0_4px_#6B8997]
}